* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}

body {
    padding-top: 80px;
}

.home {
    height: 55px;
    width: 67px;
    cursor: pointer;
}

.menu {
    height: 55px;
    width: 67px;
    cursor: pointer;
}

.blurs-novo {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
}

.blurs-novo.blur-include {
    display: none;
}

.popups-novo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 10001;
    font-family: "Inter", sans-serif;
}


.container-pesquisa {
    height: 55px;
    width: 1000px;
    display: flex;
    background-color: white;
    border-radius: 360px;
    align-items: center;
    padding: 1%;
}

.label-pesquisa {
    height: 100%;
    width: 100%;
    margin-left: 2%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.lupa {
    height: 43px;
    width: 43px;
    cursor: pointer;
}

.perfil {
    width: 53px;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin-left: auto;
    border-radius: 100%;
}

#containerCabecalho {
    width: 100%;
    height: auto;
    background-color: #C00003;
    padding: 1%;
    display: flex;
    gap: 2.5%;
    align-items: center;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700;
}

#parte-geral-menu-lateral {
    display: none;
    height: 100vh;
    width: 20vw;
    padding: 2%;
    gap: 6.5%;
    flex-direction: column;
    border-right: 1px solid black;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.item-menu-lateral {
    height: 7%;
    min-width: 100%;
    width: fit-content;
    display: flex;
    cursor: pointer;
    font-size: 2.5rem;
    align-items: center;
    padding: 3%;
    font-weight: 500;
    border: 1px solid black;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    gap: 5%;

}

.icon-item-menu-lateral {
    height: 100%;
}

#btnSair {
    display: none;
}

#bemvindo {
    font-family: "Inter", sans-serif;
}