    .container-foto-user-comentario-comentarios {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 0.2rem;
    }

    .container-usuario-foto-comentarios {
        width: 100%;
        height: 5vh;
        gap: 1%;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: "Inter", sans-serif;
    }

    .foto-usuario-comentarios {
        height: 100%;
        aspect-ratio: 1/1;
        width: auto;
        border-radius: 50%;
    }

    .container-texto-comentario {
        position: relative;
        border: solid 3.5px black;
        border-radius: 30px;
        text-align: justify;
        padding: 0.5%;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        height: auto;
        font-family: "Inter", sans-serif;

    }