html {
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: auto;
}

#container-criacao-publicacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 84.5%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    gap: 1vh;
    height: auto;
    padding-bottom: 2vh;
}

#titulo {
    font-weight: 800;
    font-size: 42px;
    color: darkred;
    align-self: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: "Inter", sans-serif;
}


#campoTitulo {
    background-color: lightgray;
    border-radius: 10em;
    width: 100%;
    height: 4vh;
    padding-left: 6px;
}

#botaoCancelar {
    background-color: rgb(255, 255, 255);
    color: rgb(178, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
}

#botaoPublicar {
    background-color: rgb(0, 213, 255);
    color: rgb(255, 255, 255);
    border: 2px rgb(0, 81, 139) solid;
}

#botaoSalvar {
    background-color: rgb(115, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px rgb(64, 148, 0) solid;
}

#capaPostagemInput {
    position: absolute;
    width: 24vw;
    height: 16vw;
    visibility: hidden;
    z-index: 2;
}

#capaPostagem {
    position: relative;
    align-self: center;
    border: solid black 2px;
    background-image: url("/imagens/upload.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24vw;
    height: 16vw;
    display: inline-block;
}

#containerCapa {
    height: 16vw;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: fit-content;
    align-items: center;
}

#descCapa {
    width: 100%;
    border-radius: 0.6em;
    padding: 2px;
    border: 1px solid black;
    background-color: lightgray;
    resize: none;
    font-size: 1.15em;
    height: 80%;
}

#campoDescCapa {
        display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    WIDTH: 60%;
}

#campoDescCapa > p {
    font-size: 1.35em;
    font-weight: bold;
}

#capaPostagemPreview {
    position: absolute;
    z-index: 1;
    width: 24vw;
    height: 16vw;
    object-fit: cover;
    cursor: pointer;
}

#posPopUp {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#posPopUpLogin {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#containerDicaTag {
    border-radius: 100%;
    border: 1px black dashed;
    height: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloTags {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    width: 100%;
}

#botoes {
    display: flex;
    flex-direction: row;
    gap: 22vw;
    align-self: center;
}

#botoes * {
    border-radius: 20em;
    margin: 14px;
    padding: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #DFDEDE inset !important;
    box-shadow: 0 0 0 1000px #DFDEDE inset !important;

    -webkit-text-fill-color: #000 !important;
    caret-color: black;
    border-radius: 15px;
}