* {
    margin: 0;
    box-sizing: border-box;
}

.container-universal-tela-forum {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    padding: 2%;
}

.container-titulo-forum-forum {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: auto;
    justify-content: center;
}

#titulo-forum-forum {
    color: #C00003;
    font-weight: 800;
    font-size: 3.3rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    word-break: break-word;
}

#data-forum-forum {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 200;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
}

.container-resto-tela-forum {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    gap: 1rem;
    width: 100%;
}

.container-geral-discussao-forum {
    display: flex;
    width: 92%;
    min-height: 28vh;
    border: solid 2px #313131;
    border-radius: 24px;
    gap: 0.1rem;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.container-infos-usuario-discussao-forum {
    width: 13%;
    min-height: 100%;
    background-color: #313131;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#foto-user-discussao-forum,
.foto-user-discussao-forum {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
}

#nome-user-discussao-forum,
.nomeComentario {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#nome-user-discussao-forum:hover {
    text-decoration: underline;
}



.container-texto-discussao-forum {
    display: flex;
    flex-direction: column;
    width: 87%;
    background-color: #313131;
    padding: 0.9rem;
    color: white;
    font-size: 1.5rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Inter", sans-serif;
    padding-bottom: 1rem;
}

.textoPrincipal,
.textoComentarioForum {
    flex: 1;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

#data-comentario-forum,
.data-comentario-forum {
    margin-top: 1rem;
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
}



.fundo-criacao-comentario-forum {
    width: 92%;
    min-height: 28vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F2F2F;
    border: solid 4px #000000;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    padding: 1rem;
}

#text-area-comentario-forum {
    width: 100%;
    min-height: 15vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 1.45rem;
    font-family: "Inter", sans-serif;
    resize: none;
}

.container-botaoElimite-comentario-forum {
    width: 100%;
    gap: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#limite-caracteres-criacao-comentario-forum {
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
}

#botao-enviar-comentario-forum {
    height: 95%;
    width: 20%;
    background-color: #D20000;
    cursor: pointer;
    color: white;
    font-size: 1.7rem;
    font-weight: 800;
    border-radius: 100px;
    border: solid 2px black;
    font-family: "Inter", sans-serif;
}

#botao-enviar-comentario-forum:hover {
    background-color: #FF4D66;
}

.botao-ocultar-comentario-forum {
    background-color: #AA00FF;
    position: absolute;
    transform: translate(50%, -50%);
    right: 0%;
    top: 0%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 7vh;
    z-index: 10;
    border-radius: 50%;
}

#zoio-log {
    width: 80%;
}

#dec_mod_martelo {
    width: 10vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: none;
    cursor: pointer;
    background-color: rgb(159, 0, 217);
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

#martelo_icon {
    width: 75%;
    height: 75%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
