* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.fundo-popup-logs {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 2%;
    height: 80vh;
    width: 60vw;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: solid 5px #AA009F;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-comentario-logs {
    background-color: #862e81;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    gap: 2.5px;
    border-radius: 1.5rem;
    overflow: visible;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border: solid 2.5px #862e81;
}

.post-original {
    color: red;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.post-original:hover {
    color: aqua;
    cursor: pointer;
}

.info-autor-logs {
    height: 100%;
    width: 22%;
    gap: 5%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #252525;
    display: flex;
    padding-top: 0.4%;
    flex-direction: column;
    align-items: center;
}

.foto-autor-logs {
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
}

.nome-autor-logs {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    width: 80%;
    height: auto;
    color: white;
}

.container-conteudo-logs {
    width: 80%;
    height: 100%;
    padding: 1.5%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #302f2f;
    text-align: justify;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    overflow: visible;
}

.data-log {
    position: absolute;
    bottom: 1%;
    right: 1.5%;
    color: white;
    font-weight: 200;

}

.comentarios {
    background-color: #862e81;
    display: flex;
    height: 20vh;
    width: 100%;
    gap: 2.5px;
    border-radius: 1.5rem;
    overflow: visible;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border: solid 2.5px #862e81;
}

.botao-ocultar {
    background-color: #AA00FF;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 7vh;
    z-index: 10;
    border-radius: 50%;

}

.botao-ocultar:hover {
    background-color: #d174ff;
}

.zoio-log {
    width: 80%;
    height: auto;
}