 html,
 body,
 #blur-nova-decisao {
     width: 100vw;
     height: 100vh;
     margin: 0;
 }

 #blur-nova-decisao {
     position: fixed;
     width: 100%;
     height: 100%;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 10000;
     display: flex;
     background-color: rgba(0, 0, 0, 0.6);

 }

 #container_decisao {
     position: fixed;
     width: 56vw;
     height: 70vh;
     background-color: #7F00A9;
     border-radius: 40px;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     border: 1px solid black;
     z-index: 10001;
 }

 .cxtexto {
     position: relative;
     width: 100%;
     background-color: black;
     left: 50%;
     top: 4%;
     transform: translate(-50%);
     color: white;
     font-size: 1vw;
     overflow-wrap: break-word;
     overflow: hidden;
     margin-bottom: 2%;
 }

 .cxtexto p {
     margin: 0;
 }

 .botao-gerar {
     background-color: black;
     color: white;
     width: 18%;
     appearance: none;
     border: none;
     border-radius: 8px;
     font-size: 18px;
 }

 .botao-gerar:hover {
     background-color: rgb(27, 27, 27);
 }

 #container_interno {
     margin-top: 3vh;
     width: 90%;
     align-self: center;
     display: flex;
     gap: 7vh;
     flex-direction: column;
     align-items: center;
     justify-items: flex-end;
     height: 100%;
 }

 #motivacao {
     resize: none;
     text-indent: 20px;
     border: black;
     border-radius: 20px;
     height: 46vh;
     font-size: 18px;
     padding-top: 16px;
     font-family: "Inter", sans-serif;
 }