html,
body,
#blur_nova_imagem {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#blur_nova_imagem {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  position: fixed;
  top: 0%;
  left: 0%;
  display: none;
}

#container_nova_imagem {
  background-color: white;
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  z-index: 10000;
  display: none;

}

#canva {
  width: 20vh;
    aspect-ratio: 1 / 1;
}

#titulo_nova_imagem {
  width: 90%;
  height: 2vh
}

#desc {
  width: 90%;
  height: 40vh;
}