    html,
    body,
    #blur {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    #blur {
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10000;
    }

    #container_dm {
        width: 56vw;
        height: 64vh;
        background-color: #7F00A9;
        border-radius: 40px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        z-index: 10001;
             font-family: "Inter", sans-serif;

    }

    .cxtexto {
        position: relative;
        width: 88%;
        background-color: black;
        left: 50%;
        top: 4%;
        transform: translate(-50%);
        color: white;
        font-size: 1vw;
        overflow-wrap: break-word;
        overflow: hidden;
        padding: 0.5em;
        margin-bottom: 2%;
    }

    .cxmen {
        height: 8%;
    }

    .cxmai {
        height: 56%;
    }

    .cxtexto p {
        margin: 0;
    }