 * {
     margin: 0;
     padding: 0;
 }

 a {
     color: black;
     font-size: larger
 }

 a:hover {
     color: #0000FF;
 }

 #posPopUpLogin {
     position: fixed;
     top: 50%;
     left: 50%;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.8);
     display: none;
     scrollbar-width: none;
     z-index: 999;

 }

 .container-geral {
     position: fixed;
     top: 50%;
     right: 50%;
     transform: translate(50%, -50%);

 }

 .fundo-popup-login {
     display: flex;
     flex-direction: column;
     gap: 3%;
     align-items: center;
     background-color: white;
     width: 25vw;
     height: 75vh;
     border-radius: 5%;
     overflow: hidden;
 }

 .titulo {
     display: flex;
     font-size: 60px;
     font-weight: 600;
     width: 100%;
     height: 10vh;
     color: white;
     background-color: #8D0028;
     justify-content: center;
     align-items: center;

 }

 .input-fundo-login {
     display: flex;
     margin-top: 5%;
     width: 21vw;
     height: 6vh;
     align-items: center;
     justify-content: end;
     background-color: #DFDEDE;
     border-radius: 20px;
     border: solid 2px #8D0028;
 }

 .input-texto-login {
     font-size: 24px;
     font-weight: lighter;
     background-color: transparent;
     outline: transparent;
     width: 21vw;
     height: 6vh;
     border: none;
     justify-content: left;
 }

 .olho {
     width: 10%;
     cursor: pointer;
     margin-right: 5%;
 }

 .container-geral-checkbox {
     display: flex;
     flex-direction: row;
     width: 22vw;
     height: 8vh;
     margin-top: 5%;
     gap: 2%
 }

 .container-links {
     display: flex;
     flex-direction: column;
     width: 55%;
     height: 100%;
     align-items: center;
     justify-content: center;
 }

 .container-checkbox {
     display: flex;
     height: 100%;
     width: 45%;
     gap: 3%;
     align-items: center;
     position: relative;
 }

 .linha-vertical {
     position: absolute;
     height: 50%;
     border-left: 2px solid #8D0028;
     right: 0;
 }

 .texto-lembrar {
     font-size: larger;
     margin-left: 20%;
     font-family: Arial, Helvetica, sans-serif;
 }

 .checkbox {
     transform-origin: left;
     transform: scale(3.0);
     cursor: pointer;
     accent-color: #cf3561;
 }

 .botao-acessar {
     background-color: #8D0028;
     width: 16vw;
     height: 7vh;
     color: white;
     font-weight: 700;
     cursor: pointer;
     border-radius: 20px;
     font-size: 2.5rem;

 }