body,
html {
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: auto;
}

#container_publicacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 84%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    gap: 2.5vh;
    height: auto;
    padding-bottom: 2vh;
}

.botao-moderador {
    margin-top: 1%;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

#dec_mod_martelo {
    width: 10vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(159, 0, 217);
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

#martelo_icon {
    width: 75%;
    height: 75%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#botao_ocultar {
    margin-right: 1%;
    height: 10vh;
    width: 10vh;
    background-color: rgb(159, 0, 217);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 16%;
    right: 5%;
    z-index: 2;
}

#titulo {
    font-weight: 800;
    font-size: 42px;
    color: darkred;
    font-family: "Inter", sans-serif;
    align-self: center;
    margin-top: 2.5%;
}

#campoEdicao {
    gap: 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

#dados_publicacao {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

#campoEdicao * {
    width: 3%
}

#textoPublicacao {
    background-color: #ffffff;
    width: 100%;
    overflow-wrap: break-word;
    font-family: "Inter", sans-serif;
}

#campoTags {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 20em;
}

.container-usuario-foto-comentarios {
    height: 5vh;
}

.textoBase {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

#container_publicacao {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#capaPostagem {
    width: 50vw;
    aspect-ratio: auto;
}

.fundo-criacao-comentario-forum {
     height: 23vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     background-color: #2F2F2F;
     border: solid 4px #000000;
     border-radius: 40px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);

 }

 #text-area-comentario-forum {
     height: 60%;
     width: 100%;
     color: white;
     background-color: transparent;
     border: none;
     outline: none;
     padding-top: 1%;
     padding-left: 1%;
     font-size: 1.45rem;
     resize: none;
 }

 .excluirCom {
    min-height: 5vh;
    max-height: fit-content;
    aspect-ratio: 1/1;
    margin-left: auto;
    cursor: pointer;
    border-radius: 100%;
 }

 .lixo {
    width: 4vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 .container-botaoElimite-comentario-forum {
     height: 40%;
     width: 100%;
     padding-right: 0.5%;
     gap: 1%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 #limite-caracteres-criacao-comentario-forum {
     color: white;
     font-weight: 200;
     font-size: 1.5rem;
 }

 #botao-enviar-comentario-forum {
     height: 47%;
     width: 10%;
     background-color: #D20000;
     cursor: pointer;
     color: white;
     font-size: 1rem;
     font-weight: 800;
     border-radius: 100px;
     border: solid 2px black;
 }

 #botao-enviar-comentario-forum:hover {
     background-color: #FF4D66;
 }

 .autor {
    cursor: pointer;
 }

 .autor:hover {
    color: blue;
 }

 .comentario {
    width: 100%;
    display: relative;
 }
