#campoEdicao {
    gap: 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    font-family: "Inter", sans-serif;
}

#richtexteditor {
  display: block;
  width: 100%;
  position: relative;
  min-width: 0;
}


#elementosEdicao * {
    width: 3%
}

#bold {
    font-weight: bolder;
}

#underlined {
    text-decoration: underline;
}

#italic {
    font-style: italic;
}

#elementosEdicao {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;
}

#elementosEdicao>* {
    border: 1px solid black;
    text-align: center;
    background-color: gray;
}

#textoPublicacao {
  display: block !important;
  width: 100% !important;
  min-width: 0 !important;
  overflow-wrap: break-word !important;
  box-sizing: border-box !important;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: lightgray;
  min-height: 60vh;
}

#textoPublicacao .rt_titulo,
#textoPublicacao .rt_citacao
{
    display: block !important;
    width: 100% !important;
}

#textoPublicacao img.rt_imagem {
    display: block !important;
    max-width: 100% !important;
    clear: both !important;
}

#textoPublicacao img.rt_imagem {
  display: block !important;
  float: none !important;
  clear: both !important;
  max-width: 100% !important;
}


#campoTags {
    background-color: lightgray;
    width: 100%;
    border-radius: 20em;
    padding-left: 5px;

}

.textoBase {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

#elementosEdicao img {
    height: 100%;
    width: 100%;
}