.rt_titulo {
    font-weight: bolder !important;
    font-size: 36px !important;
    text-align: center !important;
    display: block !important;
}

.rt_subtitulo {
    font-weight: bold;
    font-size: 29px;
}

.rt_centralizado {
    text-align: center;
}

.rt_citacao {
    color: grey !important;
    font-style: italic !important;
    font-size: 16px;
}

.rt_geral {
    font-family: "Inter", sans-serif;
    display: block;
}

.rt_default {
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.rt_separador {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.rt_separador.rt_geral {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.rt_imagem {
    width: auto;
    height: auto;
    aspect-ratio: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.rt_Inormal img{
    width: 30vw !important;

}

.rt_Igrande img{
    width: 40vw !important;

}

.rt_Ipequena img{
    width: 20vw !important;
}

.rt_IVnormal img{
    height: 30vw !important;

}

.rt_IVgrande img{
    height: 40vw !important;
}

.rt_IVpequena img{
    height: 20vw !important;
}