.rt_titulo {
    font-weight: bolder !important;
    font-size: 36px !important;
    text-align: center !important;
}

.rt_subtitulo {
    font-weight: bold;
    font-size: 29px;
}

.centralizado {
    text-align: center;
}

.rt_citacao {
    color: grey;
    font-style: italic;
    font-size: 16px;
}

.rt_geral {
    font-family: "Inter", sans-serif;
    display: block;
}

.rt_default {
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.rt_separador {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.rt_separador.rt_geral {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}