#edicao_post {
    width: 10vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #d8fffcff;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

#lapis_icon {
    width: 75%;
    height: 75%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#botaoCancelar {
    background-color: rgb(255, 255, 255);
    color: rgb(178, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
}

#botaoPublicar {
    background-color: rgb(115, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px rgb(64, 148, 0) solid;
}

#botoes {
    display: flex;
    flex-direction: row;
    gap: 22vw;
    justify-content: center;
    width: 100%;
}

#botoes * {
    border-radius: 20em;
    margin: 14px;
    padding: 8px;
    width: 100%;
}