 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


 .container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     width: 100%;
     height: 216px;
     margin-top: 1%;
 }

 .logo {
     width: 920px;
     height: 216px;
 }

 #carrossel {
     display: flex;
     align-items: center;
     min-height: 50vh;
 }

 .container-noticias {
     width: 100%;
     height: auto;
     display: flex;
     margin-top: 5%;
     margin-top: 100px;
     margin-bottom: 100px;
     align-items: center;
     justify-content: center;
     gap: 5%;

 }

 .noticia-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
     width: 40%;
     cursor: pointer;
 }

 .texto-noticia {
     margin-top: 10px;
     font-family: 'DM Sans', sans-serif;
     font-size: 38px;
     font-weight: bolder;
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: 1.2;
     max-width: 100%;
     color: #C00003
 }

 .botao-seta {
     width: 50px;
     height: 50px;
     cursor: pointer;
 }

 .noticia {
     width: 100%;
     aspect-ratio: 16/9;
     object-fit: cover;
 }

 #footer {
     width: 100%;
     height: auto;
 }

 .na {
     font-family: "Inter", sans-serif;
         width: 100%;
    text-align: center;
    font-size: 3.2rem;
 }