* {
    margin: 0;
    box-sizing: border-box;
}

.container-moderador {
    margin-top: 1%;
    height: 10vh;
    width: 100%;
    display: none;
    justify-content: end;
}

.container-linha {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

hr {
    width: 95%;
}

.mais {
    width: 60%;
    height: 60%;
}

.container-publicacao {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
}

#labelFiltro {
    position: relative;
    left: 4%;
    font-family: "Inter", sans-serif;
    padding-top: 4vh
}

#filtro {
    width: 16vw;
    height: 6vh;
    border-radius: 40rem;
    position: relative;
    left: 4%;
    font-family: "Inter", sans-serif;
}

#container-lista {
    min-height: 40vh;
    height: fit-content;
}

.requisitor {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #C00003;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.requisitor:hover {
    color: cyan;
}

#titulo {
    font-weight: 800;
    font-size: 60px;
    color: darkred;
    font-family: "Inter", sans-serif;
    margin-top: 2.5%;
    text-align: center;
}

.container-titulo {
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: left;
    font-size: 28px;
}

.container-baixo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.container-seletores {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 40px;
    align-items: center;
}

.bloquinhos {
    width: 2.5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #D9D9D9;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.clicavel:hover {
    color: aqua;
    cursor: pointer;
}

  #botao_requisicoes {
     margin-right: 1%;
     height: 10vh;
     width: 10vh;
     background-color: rgb(0, 184, 190);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

  #img_seta {
     width: 60%;
     height: 60%;
 }