* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container-universal {
    display: flex;
    height: fit-content;
}

.container-menu-usuario-geral {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.container-menu-usuario-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    justify-content: left;
    padding: 5%;
    gap: 4%;
}

.container-imagem-user {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.icon-user {
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.nome-usuario {
    width: 100%;
    height: auto;
    padding-left: 5%;
    font-size: 2.3rem;
    font-weight: 900;
    word-break: break-word;
    font-family: "Inter", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-cargos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4.5%;
    padding-left: 3%;
}

.cargos {
    display: none;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: auto;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 100px;
    font-family: "Inter", sans-serif;
}

#SUSPENSO {
    background-color: #cccccc;
    height: auto;
}

#PADRAO {
    background-color: #560000;
    height: auto;

}

#MODERADOR {
    background-color: #a200ff;
    height: auto;
}

#ESPECIALISTA {
    background-color: #ff7300;
    height: auto;
}

#ADMINISTRADOR {
    background-color: #00c2b2;
    height: auto;
}


.container-botoes {
    display: flex;
    width: 100%;
    height: auto;
    gap: 5%;
    padding-left: 5%;
}

.botao-add-cargo {
    height: 8vh;
    width: 8vh;
    background-color: #AE00FF;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.barra-vertical {
    border: solid 1px black;
    height: 95vh;
}

.configuracao-usuario {
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    display: none;
}

.botao-requisitar {
    height: 8vh;
    width: 8vh;
    background-color: #FF0004;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-log-moderador {
    height: 8vh;
    width: 8vh;
    background-color: #AA00FF;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#capaUsuarioInput {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    visibility: hidden;
    z-index: 2;
    border-radius: 100%;
}

.mais {
    width: 70%;
    height: 70%;
}

.botao-atividade-usuario {
    height: 10vh;
    width: 10vh;
    background-color: #AA00FF;
    border-radius: 50%;
    right: 5%;
    top: 13%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
}

.icon-atividade {
    height: 70%;
}

.container-geral-atividades {
    display: flex;
    height: fit-content;
    width: 80%;
    padding: 3%;
    gap: 5%;
    flex-direction: column;
}

#containerForuns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 0.5vh;
}


.container-forum {
    display: flex;
    width: 100%;
    padding: 0.5%;
    height: 8vh;
    background-color: #252525;
}

 .titulo-publicacao {
     font-size: 3rem;
     font-weight: 800;
     font-family: "Inter", sans-serif;
     color: #C00003;
     text-align: left;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

.foto-forum {
    height: 100%;
}

.container-info-forum {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
}

.titulo-forum {
    display: flex;
    align-items: flex-end;
    width: 100%;
    color: #E40000;
    font-size: 1.7rem;
    font-weight: 400;
}

.container-nome-data {
    margin-left: 0.5%;
    display: flex;
    width: 100%;
    height: 50%;
    gap: 3%;

}

.nome-usuario-forum {
    color: white;
}

.data-forum {
    color: white;
    font-size: 10px;
}

.container-forum-justificacao {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    height: 100%;

}

.container-info-numero-forum {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-resposta-forum {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.container-quantidade-forum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 10%;
    width: 10%;
    height: 100%;
}


.container-geral-publicacao {
    height: 30vh;
    width: 100%;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
}

.container-titulo-publicacao {
    width: 100%;
    height: 17%;
    font-size: 3rem;
    font-weight: 800;
    color: #C00003;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .container-titulo {
     width: 100%;
     height: fit-content;
     display: flex;
     text-align: left;
 }

 .container-imagem {
     margin-top: 0.75%;
     aspect-ratio: 16/9;
     width: 25%;
 }

 .container-baixo {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: row;
     overflow: hidden;
 }

 .container-descricao {
     height: 100%;
     width: 75%;
     display: flex;
     flex-direction: column;
     padding: 1%;
     font-family: "Inter", sans-serif;
 }

 .imagem {
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 .autor {
     font-size: 2.0rem;
     font-weight: 500;
 }

 .data {
     font-size: 0.5;
     font-weight: 100;

 }

 .paragrafo {
     font-size: 1rem;
     font-weight: 200;
     margin-top: 1%;
 }

 .container-publicacoes {
     height: 30vh;
     width: 98%;
     display: flex;
     flex-direction: column;
     justify-content: left;
     margin-right: 5%;
 }

 .container-geral-publicacoes {
     height: 34vh;
     width: 100%;
     margin-top: 2%;
     margin-bottom: 2%;
     cursor: pointer;
 }

.primeiro-paragrafo-publicacao {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1%;
    word-break: break-word;
}

#container-lista {
    height: fit-content;
    width: 100%;
}