<div class = "blurs-novo" id="blur_AP"></div>

<div class="fundo-popup-aplicar popups-novo">
    <div class="popup-aplicar-titulo">Aplicar Titulação</div>

    <textarea name="motivacaoAplicar" id="textarea-cargos-aplicar"
        placeholder="Motivação:*"></textarea>

    <select name="Cargos" id="combobox-cargos-aplicar">
        <option selected disabled>Titulação:</option>
        <option>Especialista</option>
        <option>Administrador</option>
        <option>Moderador</option>
         <option>Padrão</option>
        <option>Suspenso</option>
       
    </select>

    <button class="botao-aplicar">Aplicar</button>
</div>
