<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/cabecalhoStyle.css">

    </head>

    <body>
        <div class="container">
            <header>
                <img class="home" src="/imagens/homeIcon.png" alt="home">
                <img class="menu" src="/imagens/menuIcon.png" alt="menu">
                <div class="container-pesquisa">
                    <input type="text" class="label-pesquisa">
                    <img class="lupa" src="/imagens/lupaIcon.png" alt="lupa">
                </div>

                <img class="perfil" id="iconButton"
                    src="/imagens/perfilIcon.png" alt="perfil">

            </header>
        </div>
    </body>
    <script>
    let barraPesquisa;
    async function iniciarCabecalho() {
        barraPesquisa = document.getElementById('label-pesquisa');
        barraPesquisa.addEventListener('keydown', function(event) {
  if (event.key === 'Enter') {
    event.preventDefault();
        window.location.href = "http://localhost:8080/publicacoes/"+barraPesquisa.textContent;
  }
});
    }
    document.addEventListener("DOMContentLoaded", iniciarCabecalho)
</script>

</html>