<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/cabecalhoStyle.css" >

    </head>

<body>
    <div class="container">
        <header>
            <img class="home" src="/imagens/homeIcon.png" alt="home">
            <img class="menu" src="/imagens/menuIcon.png" alt="menu">
            <div class="container-pesquisa">
                <input type="text" class="label-pesquisa">
                <img class="lupa" src="/imagens/lupaIcon.png" alt="lupa">
            </div>
            <button id="loginButtonCabc">login</button>
            <img class="perfil" id= "iconButton"  src="/imagens/perfilIcon.png" alt="perfil">

        </header>
    </div>
</body>

</html>