<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">

        
    </head>
    <body>

        <div class="fundo-popup-configuracoes-usuario" id="fundo-popup-configuracoes-usuario">

            <div class="titulo-popup-configuracoes-usuario">Configurações</div>

            <div class="container-titulo-labels-configuracoes-usuario" >Alterar Nome: <input type="text" id="campoNomeConfigUser" class="input-configuracoes-usuario"></div>

            <div class="container-titulo-labels-configuracoes-usuario" >Alterar Senha: <input type="password" id="campoSenhaConfigUser" class="input-configuracoes-usuario"></div>

            <div class="container-titulo-labels-configuracoes-usuario" >Confirmar Senha: <input type="password" id="campoConfSenhaConfigUser" class="input-configuracoes-usuario"></div>

            <div class="container-titulo-labels-configuracoes-usuario" >Alterar Telefone: <input type="text" id="campoTelefoneConfigUser" class="input-configuracoes-usuario"></div>

            <div class="container-aplicar-excluir-configuracoes-usuario">
                <button class="botao-excluirconta-configuracoes-usuario" id="btnDelete">Excluir conta</button>
                <button class="botao-aplicar-configuracoes-usuario" id="btnAplicar">Aplicar</button>
            </div>

        </div>
        
    </body>
</html>