<div id="blurConfig" class="blurs-novo"></div>

<div class="fundo-popup-configuracoes-usuario popups-novo" id="fundo-popup-configuracoes-usuario">

    <div class="titulo-popup-configuracoes-usuario">Configurações</div>

    <div class="container-titulo-labels-configuracoes-usuario">Alterar Nome: <input type="text" id="campoNomeConfigUser"
            class="input-configuracoes-usuario"></div>

    <div class="container-titulo-labels-configuracoes-usuario">Alterar Senha: <input type="password"
            id="campoSenhaConfigUser" class="input-configuracoes-usuario"></div>

    <div class="container-titulo-labels-configuracoes-usuario">Confirmar Senha: <input type="password"
            id="campoConfSenhaConfigUser" class="input-configuracoes-usuario"></div>

    <div class="container-titulo-labels-configuracoes-usuario">Alterar Telefone: <input type="text"
            id="campoTelefoneConfigUser" class="input-configuracoes-usuario"></div>

    <div>
        <div class="container-geral-checkbox">
            <input type="checkbox" class="checkbox checkEmail">
            <p class="texto-email">Notificações por email?</p>
        </div>
    </div>

    <div class="container-aplicar-excluir-configuracoes-usuario">
        <button class="botao-excluirconta-configuracoes-usuario" id="btnDelete">Excluir conta</button>
        <button class="botao-aplicar-configuracoes-usuario" id="btnAplicar">Aplicar</button>
    </div>

</div>