<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Publicação</title>

    <link rel="stylesheet" href="/criacaoPublicacaoStyle.css">
</head>

<body>
    <div id="header"></div>
    <div id="fundoImagem">
        <div id="inserirImagem"></div>
    </div>
    <div id="container-criacao-publicacao">
        <p id="titulo">Nova Publicação</p>
        <p class="textoBase">Título: *</p>
        <input id="campoTitulo" maxlength="512" autocomplete="off">

        <div id="containerCapa">
            <div id="campoCapa">
                <label id="capaPostagem" label for="capaPostagemInput">
                    <img id="capaPostagemPreview" onerror="this.style.display='none'">
                    <input id="capaPostagemInput" type="file" enctype="multipart/form-data" accept=".jpg,.jpeg,.webp">
                </label>
            </div>
            <div id="campoDescCapa">
                <p>Descreva a imagem da capa:</p>
            <textarea id="descCapa" maxlength="512" rows="4" cols="50"
                placeholder="Para fins de acessibilidade, descreva aqui a imagem."></textarea>
            </div>

        </div>


        <div id="richtexteditor" style="position: relative;left: 50%;transform: translateX(-50%);"></div>

        <div id="tituloTags">
            <span class="textoBase">Adicione Tags: </span>
            <div id="containerDicaTag">
                <span id="dicaTags" class="textoBase"
                    title="Separe as tags com espaços em branco. Utilize a tag &QUOT;notícia&QUOT; para exibir a publicação na aba de notícias do site.">?</span>
            </div>
        </div>

        <input id="campoTags" autocomplete="off">


        <!--<p class="textoBase">Título: *</p> -->

        <div id="botoes">
            <button id="botaoCancelar">Cancelar</button>
            <button id="botaoPublicar">Publicar</button>
        </div>

        <div id="campoTags"></div>
    </div>

    <div id="posPopUp">
        <div id="registro"></div>

    </div>

    <div id="posPopUpLogin">
        <div id="login"></div>
    </div>
    <div id="footer"></div>

</body>
<script src="/includeHtmlExterno.js" defer></script>
<script src="/criacaoPublicacaoLogic.js" defer></script>

</html>