<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observatório Kings de Direitos Humanos no Vale do Itajaí</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/decisoesModeradoras.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <style>

    </style>

</head>

<body>

    <div id="header"></div>

    <p id="titulo">Registro de Ações</p>

    <div id="botao_requisicoes">
        <img id="img_seta" src="/imagens/setaDireita.png">
    </div>

    <div id="container-lista">
        <div class="container-decisao">
            <div class="decisao">
                <div class="container-baixo">
                    <div class="container-descricao">
                        <p class="acao"></p>
                        <p class="data"></p>
                        <p class="espaco"></p>
                        <p class="moderador"></p>
                        <p class="moderado"></p>
                        <p class="motivacao"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-linha">
        <hr>
    </div>

    <div class="container-seletores">
        <button class="bloquinhos" id="botaoesquerdo">&lt;</button>
        <button class="bloquinhos" id="botaoprimeiro">1</button>
        <button class="bloquinhos" id="botaoatual"></button>
        <input type="text" id="botaocampo" autocomplete="off" class="bloquinhos" style="cursor: text;background-color: white ;"
            placeholder="__">
        <button class="bloquinhos" id="botaolonge"></button>
        <button class="bloquinhos" id="botaodireito">&gt;</button>
    </div>
    

    <div id="posPopUp">
        <div id="registro"></div>
    </div>

    <div id="posPopUpLogin">
        <div id="login"></div>
    </div>
    <div id="footer"></div>


</body>
<script src="/includeHtmlExterno.js" defer></script>
<script src="/decisoesModeradoras.js" defer></script>

</html>