<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
    </head>
    <body>

        <div class="fundo-popup-excluir">
            
            <div class="titulo-popup-excluir">Você tem certeza de que deseja excluir sua conta ?</div>

            <div class="instrucao-popup-excluir">Se for essa mesmo a sua decisão, digite "Sim." exatamente assim para confirmar a exclusão da conta.</div>

            <div class="container-opcoes-popup-excluir">

                <input class="label-popup-excluir" id="inputConfirir" type="text">
                <button class="botao-confirmar-exclusao" id="btnConfirmarExclusao">Confirmar exclusão</button>
                <button class="botao-cancelar-exclusao" id="btnCancelarExclusao">Cancelar</button>

            </div>

        </div>

    </body>
</html>