<div class="fundo-popup-excluir">

    <div class="titulo-popup-excluir">Você tem certeza de que deseja excluir sua conta ?</div>

    <div class="instrucao-popup-excluir">Para segurança, digite sua senha abaixo.</div>

    <div class="container-opcoes-popup-excluir">

        <input class="label-popup-excluir" autocomplete="off" id="campoSenhaExc" type="text">
        <button class="botao-confirmar-exclusao" id="btnConfirmarExclusao">Confirmar exclusão</button>
        <button class="botao-cancelar-exclusao" id="btnCancelarExclusao">Cancelar</button>

    </div>

</div>