<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/forumStyle.css">


</head>

<body>
    <div id="header"></div>

    <div class="container-universal-tela-forum" id="container-universal-tela-forum">

        <div id="botao-ocultar-forum">
            <img src="/imagens/olhosfechados.png" id="zoio-log">
        </div>

        <div class="container-titulo-forum-forum">
            <p id="titulo-forum-forum" class="tituloForum"></p>
        </div>

        <div id="data-forum-forum" class="dataForum"></div>

        <div class="container-resto-tela-forum">

            <div class="container-geral-discussao-forum">

                <div class="botao-ocultar-comentario-forum" id="btnOcultar">
                    <img src="/imagens/iconelixo.png" id="zoio-log">
                </div>

                <div class="container-infos-usuario-discussao-forum">
                    <img src="" id="foto-user-discussao-forum" alt>
                    <p id="nome-user-discussao-forum"></p>
                </div>

                <div class="container-texto-discussao-forum">
                    <p id="textoForum"></p>
                    <p id="data-comentario-forum"></p>
                </div>

            </div>

            <div class="fundo-criacao-comentario-forum">
                <textarea name="comentario" placeholder="Participe da discussão!"
                    id="text-area-comentario-forum"></textarea>

                <div class="container-botaoElimite-comentario-forum">
                    <p id="limite-caracteres-criacao-comentario-forum"></p>
                    <button id="botao-enviar-comentario-forum">Enviar</button>
                </div>
            </div>

            <div class="container-geral-discussao-forum containerPrimeiroComentario">

                <div class="botao-ocultar-comentario-forum">
                    <img src="/imagens/iconelixo.png" id="zoio-log">
                </div>

                <div class="container-infos-usuario-discussao-forum infoComentarios">
                    <img src="" id="foto-user-discussao-forum"
                        class="foto-user-discussao-forum" alt>
                    <p id="nome-user-discussao-forum" class="nomeComentario"></p>
                </div>

                <div class="container-texto-discussao-forum infoTexto">
                    <p class="textoComentarioForum"></p>
                    <p id="data-comentario-forum"></p>
                </div>

            </div>

        </div>

    </div>

    <div id="posPopUp">
        <div id="registro"></div>

    </div>

    <div id="posPopUpLogin">
        <div id="login"></div>
    </div>

    <div id="footer"></div>

    <script src="/includeHtmlExterno.js"></script>
    <script src="/forumLogica.js"></script>

</body>

</html>