<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="forumStyle.css">
        <link rel="stylesheet" href="cabecalhoStyle.css">
        <link rel="stylesheet" href="rodapeStyle.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>

    <div id="header"></div>

    

    <div class="container-geral-foruns">
        <div class="container-foruns">
            <img
                src="https://www.svgrepo.com/show/492688/avatar-boy.svg"
                class="foto-forum" alt>
            <div class="container-info-forum">
                <p class="titulo-forum">Titulo Forum</p>
                <div class="container-nome-data">
                    <p class="nome-usuario-forum">Nome de usuario</p>
                    <p class="data-forum">dd/mm/yyyy</p>
                </div>
            </div>
            <div class="container-forum-justificacao">
                <div class="container-info-numero-forum">
                    <div class="container-resposta-forum">
                        <p>Respostas:</p>
                        <p>Última atualização:</p>
                    </div>
                    <div class="container-quantidade-forum">
                        <p>x</p>
                        <p>y</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div> 

    <script src="includeHtmlExterno.js" defer></script>

    </body>
</html>