<div class="blurs-novo" id="blur_LC"></div>

<div class="fundo-popup-logs popups-novo">
    <div class="container-comentario-logs">
        <div class="info-autor-logs">
            <img src="https://randomuser.me/api/portraits/men/83.jpg"
                class="foto-autor-logs" alt>
            <div class="nome-autor-logs"></div>
        </div>
        <div class="container-conteudo-logs">

            <div class="data-log"></div>
            <div class="botao-ocultar">
                <img src="./imagens/olhosfechados.png" class="zoio-log" alt>
            </div>

        </div>
    </div>

</div>