<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Observatório Kings de Direitos Humanos no Vale do Itajaí</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/noticiasStyle.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
    </head>

    <body>

        <div id="header"></div>

        <p id="titulo">Notícias</p>

        <div class="containerbtn" id="containerbtn">
            <div id="botao-aprovar"><img src="/imagens/checkmark.png"
                    class="imagembtn" alt="Sinal de marcação"></div>
        </div>

        <div id="container-noticias">

            <div id="noticias-direita">
                <div id="noticiaBase" class="noticias">
                    <img src="/imagens/iconKings.png" class="logoObservatorio" alt = "Ícone do site" title = "Ícone do site">
                    <img src class="capa">
                    <h2 class="tituloNoticia"></h2>
                    <p class="autor"></p>
                </div>
            </div>
            <div id="noticias-esquerda">

            </div>
        </div>

    <div class="container-seletores">
        <button class="bloquinhos" id="botaoesquerdo">&lt;</button>
        <button class="bloquinhos" id="botaoprimeiro">1</button>
        <button class="bloquinhos" id="botaoatual"></button>
        <input autocomplete="off" type="text" id="botaocampo" class="bloquinhos" style="cursor: text;background-color: white ;"
            placeholder="__">
        <button class="bloquinhos" id="botaolonge"></button>
        <button class="bloquinhos" id="botaodireito">&gt;</button>
    </div>

        <div id="posPopUp">
            <div id="registro"></div>
        </div>

        <div id="posPopUpLogin">
            <div id="login"></div>
        </div>
        <div id="footer"></div>

    </body>
    <script src="/includeHtmlExterno.js" defer></script>
    <script src="/noticiasLogica.js" defer></script>

</html>