<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="novoApoioStyle.css">
</head>
<body>

    <div class="fundo-novo-apoio">

        <div class="nome-labels-apoio">Nome da instituição: *</div>
        <input type="text" id="label-nome-instituicao">

        <div style="margin-top: 1%;" class="nome-labels-apoio">Sobre a instituição: *</div>
        <textarea name="sobre" id="ta-sobre-instituicao"></textarea>
        
        <div style="margin-top: 2%;" class="rede-label-apoio">
            
            <img src="./imagens/twitter.png" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-twitter">

        </div>

        <div  class="rede-label-apoio">
            
            <img src="./imagens/instaIcon.png" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-insta">

        </div>

        <div  class="rede-label-apoio">
            
            <img src="./imagens/whatsPreto.png" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-whats">

        </div>

        <div  class="rede-label-apoio">
            
            <img src="./imagens/pin.jpg" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-endereco">

        </div>

        <div  class="rede-label-apoio">
            
            <img src="./imagens/internet.png" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-site">

        </div>

        <div  class="rede-label-apoio">
            
            <img src="./imagens/linkedin.png" class="icone-rede-popup-apoio" alt="">
            <input type="text" class="label-link-rede" id="campo-linkedin">

        </div>

        <button id="botao-salvar-instituicao">Salvar Instituição</button>

        <div class="div-foto-instituicao">
            <img src="./imagens/grupo.png" id="foto-perfil-instituicao" alt="">
            <div id="botao-editar-foto"> <img src="./imagens/lapis-icon.png" id="lapis-edicao" alt=""></div>
        </div>

        <img src="./imagens/lixo.png" id="lixo-deletar" alt="deletar">

    </div>
    
    <script src="/popupNovoApoio.js" defer></script>

</body>
</html>