<div class="blurs-novo" id="blurNovoApoio">

</div>

<div class="fundo-novo-apoio popups-novo" id="fundoNovoApoio">

    <div class="nome-labels-apoio">Nome da instituição: *</div>
    <input type="text" autocomplete="off" id="label-nome-instituicao">

    <div style="margin-top: 1%;" class="nome-labels-apoio">Sobre a instituição:
        *</div>
    <textarea name="sobre" id="ta-sobre-instituicao"></textarea>

    <div style="margin-top: 2%;" class="rede-label-apoio">

        <img src="/imagens/twitter.png" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-twitter">

    </div>

    <div class="rede-label-apoio">

        <img src="/imagens/instaIcon.png" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-insta">

    </div>

    <div class="rede-label-apoio">

        <img src="/imagens/whatsPreto.png" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-whats">

    </div>

    <div class="rede-label-apoio">

        <img src="/imagens/pin.jpg" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-endereco">

    </div>

    <div class="rede-label-apoio">

        <img src="/imagens/internet.png" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-site">

    </div>

    <div class="rede-label-apoio">

        <img src="/imagens/linkedin.png" class="icone-rede-popup-apoio" alt>
        <input type="text" autocomplete="off" class="label-link-rede" id="campo-linkedin">

    </div>

    <button id="botao-salvar-instituicao">Salvar Instituição</button>

    <div class="div-foto-instituicao">
        <label id="capaInstituicao" label for="novoApoioInput">
            <img src="/imagens/grupo.png" class="icon-user"
                id="foto-perfil-instituicao" alt="Ícone do apoio">
            <input id="novoApoioInput" type="file" enctype="multipart/form-data"
                accept=".jpg, .png, .webp">
        </label>
    </div>

    <img src="/imagens/iconelixo.png" id="lixo-deletar" alt="deletar">

</div>
