<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="popupStyle.css">
    <link rel="stylesheet" href="paginaInicialStyle.css">
    <link rel="stylesheet" href="cabecalhoStyle.css">
    <link rel="stylesheet" href="rodapeStyle.css">
</head>
<body>

<!-- Header placeholder -->
<div id="header"></div>

 <div class="container">
            <img class="logo" src="./imagens/logoObservatorio.png" alt="Logo">
 </div>

<!-- Conteúdo principal -->
<div class="container-noticias">
    <img class="botao-seta" style="transform: scaleX(-1);" src="./imagens/setaIcon.png" alt="Seta para esquerda">
    <div class="noticia-container">
        <img class="noticia" src="https://placehold.co/620x420" alt="Notícia">
        <p class="texto-noticia"> Notícia é noticiada em tal lugar em tal hora e momento tal além de tudo tal coisa</p>
    </div>
    <div class="noticia-container">
        <img class="noticia" src="https://placehold.co/620x420" alt="Notícia">
        <p class="texto-noticia"> Novos dados descobertos referente à tal coisa</p>
    </div>
    <img class="botao-seta" src="./imagens/setaIcon.png" alt="Seta para direita">
</div>


<div id="overlay"></div>

<!-- POPUP LOGIN -->
<div id="loginPopup" class="popup">
  <div class="popupBox">
    <div class="popupHeader">LOGIN</div>

    <input type="email" id="emailLogin" placeholder="E-mail*" class="inputArea">
    <div class="passwordWrapper">
      <input type="password" id="senhaLogin" placeholder="Senha*" class="inputArea">
      <img src="imagens/olhosfechados.png" class="hideIcon" data-target="senhaLogin">
    </div>

    <div class="popupOptions">
      <input type="checkbox" class="checkbox"><span>Lembrar</span>
      <span class="forgot-password-button">Esqueci minha senha</span>
      <span class="register-button-under-forgot" id="openRegisterPopup">Registrar-se</span>
    </div>

    <button class="button" id="loginButton">Acessar</button>
  </div>
</div>


<!-- POPUP REGISTRO -->
<div id="registerPopup" class="popup">
  <div class="popupBox">
    <div class="popupHeader">REGISTRAR</div>

    <input type="text" id="inputNomeRegistro" placeholder="Nome*" class="inputArea">
    <input type="email" id="inputEmailRegistro" placeholder="E-mail*" class="inputArea">

    <div class="passwordWrapper">
      <input type="password" id="senhaInputRegistro" placeholder="Senha*" class="inputArea">
      <img src="imagens/olhosfechados.png" class="hideIcon" data-target="senhaInputRegistro">
    </div>

    <div class="passwordWrapper">
      <input type="password" id="confSenhaInputRegistro" placeholder="Confirmar senha*" class="inputArea">
      <img src="imagens/olhosfechados.png" class="hideIcon" data-target="confSenhaInputRegistro">
    </div>

    <input type="text" id="inputCpfRegistro" placeholder="CPF*" class="inputArea">
    <input type="text" id="inputDataNascRegistro" placeholder="Data de nascimento*" class="inputArea">
    <input type="text" id="inputTelefoneRegistro" placeholder="Telefone" class="inputArea">

    <div class="popupOptions">
      <input type="checkbox" class="terms-checkbox"><span>Aceitar termos de uso</span>
    </div>

    <button class="button" id="registerButton">Registrar</button>
  </div>
</div>


<!-- Footer placeholder -->
<div id="footer"></div>

<script src="include.js"></script>
<script src="telaLoginLogica.js"></script>

</body>
</html>