<div id="divPopUpRegistro">

    <div class="fundo-popup">
        
        
        <div class="titulo">
            <p>REGISTRO</p>
        </div>


        <div class="input-fundo">
            <input class="input-texto" type="email" id="inputEmailRegistro" placeholder="E-Mail*">
        </div>

        <div class="input-fundo">
            <input class="input-texto" type="password" id="senhaInputRegistro" placeholder="Senha*" maxlength="50">
            <img class="olho" id="ocultar_senha" src="/imagens/olhosfechados.png" alt="">
        </div>

        <div class="input-fundo" >
            <input class="input-texto" type="password" id="confSenhaInputRegistro" placeholder="Confirmar senha*">
            <img class="olho" id="ocultar_csenha" src="/imagens/olhosfechados.png" alt="">
        </div>

        <div class="input-fundo">
            <input class="input-texto" type="text" id="inputNomeRegistro" placeholder="Nome*" maxlength="100">
        </div>

        <div class="input-fundo">
            <input class="input-texto" type="text" id="inputCpfRegistro" placeholder="CPF*" maxlength="14">
        </div>

        <div class="input-fundo">
            <input class="input-texto" type="text" id="inputDataNascRegistro" placeholder="Data de nascimento*" maxlength="10">
        </div>

        <div class="input-fundo">
            <input class="input-texto" type="text" id="inputTelefoneRegistro" placeholder="Telefone">
        </div>

        <div class="container-geral-checkbox">
            <input type="checkbox" class="checkbox checkAceitar">
            <p class="termos-de-uso">Aceitar termos de uso</p>
        </div>

        <div class="container-instrucoes">
            <ul class="instrucao-senha">
                <li>A senha deve conter no mínimo 6 dígitos.</li>
                <li >A senha deve conter caracteres especiais, números e letras</li>
                <li> Já tem uma conta? <span id="btnIrLogin">Entrar</span></li>
            </ul>
        </div>

        <button id = "registerButton">Registrar</button>

    </div>

</div>



