<div class="blurs-novo" id="blur_LC"></div>

<div class="fundo-popup-logs popups-novo">
    <h1 id="avisoComentarios">O Usuário não possui comentários.</h1>
    <div class="container-comentario-logs">
        <div id="comentario" class="comentarios">
            <div class="info-autor-logs">
                <div class="post-original"></div>
            </div>
            <div class="container-conteudo-logs">
                <p id="textoComentario"></p>
                <div class="data-log"></div>
                <div class="botao-ocultar">
                    <img src="/imagens/olhosfechados.png" class="zoio-log" alt>
                </div>

            </div>
        </div>

    </div>

</div>