<div id="blur_nova_imagem">
    <div id="container_nova_imagem">
      <input id="arquivo" type="file" enctype="multipart/form-data" accept=".jpg, .png, .gif">
      <img id="canva" src="">
      <p>Isto é apenas uma pré visualização, a imagem vai manter seu tamanho real na Publicação!</p>
      <textarea id="titulo_nova_imagem" maxlength="128" placeholder="Título"></textarea>
      <textarea id="desc" maxlength="256" rows="4" cols="50" placeholder="Descreva a imagem"></textarea>
      <button id="inserir">Inserir</button>
    </div>
</div>