<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/popupNovaDecisaoModeradora.css">
</head>

<body>
    <div id="blur-nova-decisao">
        <div id="container_decisao">
            <div id="container_interno">
                <textarea class="cxtexto cxmai" maxlength="1024" id="motivacao" placeholder="Motivacão:"></textarea>
                <button class="botao-gerar">Aplicar</button>
            </div>
        </div>
    </div>
    <script src="popupNovaDecisaoLogica.js"></script>
</body>

</html>