<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="popUpLoginStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container-geral">
        <div class="fundo-popup-login">
            <div class="titulo">
                <p>LOGIN</p>
            </div>

            <button id="registerButtonCabc">Registrar</button> 

            <div class="input-fundo-login">
                <input id="campoEmail" class="input-texto-login" type="email" placeholder="E-Mail*">
            </div>

            <div class="input-fundo-login">
                <input id="campoSenha" class="input-texto-login" style="width: 16.9vw;" type="password" placeholder="Senha*">
                <img class="olho" src="imagens/olhosfechados.png" alt="">
            </div>

            <div class="container-geral-checkbox">
                <div class="container-checkbox">
                    <input type="checkbox" class="checkbox">
                    <p class="texto-lembrar">Lembrar</p>
                    <div class="linha-vertical"></div>
                </div>

                <div class="container-links">
                    <a href="#">Esqueci minha senha</a>
                </div>
            </div>

            <button id="botao-acessar" class="botao-acessar">Acessar</button>
        </div>
    </div>
</body>
</html>