<!DOCTYPE html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="popUpRegistroStyle.css">

</head>

<body>

    <div class="container-geral">
        <div class="fundo-popup">

            <div class="titulo">
                <p>REGISTRO</p>
            </div>

            <div class="input-fundo">
                <input class="input-texto" type="email" placeholder="E-Mail*">
            </div>

            <div class="input-fundo">
                <input class="input-texto" style="width: 16.9vw;" type="password" placeholder="Senha*">
                <img class="olho" src="olhosfechados.png" alt="">
            </div>

            <div class="input-fundo" style="margin-top: 0;">
                <input class="input-texto" style="width: 16.9vw;" type="password" placeholder="Confirmar senha*">
                <img class="olho" src="olhosfechados.png" alt="">
            </div>

            <div class="input-fundo">
                <input class="input-texto" type="text" placeholder="Nome*">
            </div>

            <div class="input-fundo">
                <input class="input-texto" type="text" placeholder="CPF*">
            </div>

            <div class="input-fundo">
                <input class="input-texto" type="text" placeholder="Data de nascimento*">
            </div>

            <div class="input-fundo">
                <input class="input-texto" type="text" placeholder="Telefone">
            </div>
            <div class="container-geral-checkbox">
                <input type="checkbox" class="checkbox">
                <p class="termos-de-uso">Aceitar termos de uso</p>
            </div>

            <div class="container-instrucoes">
                <ul class="instrucao-senha">
                    <li>A <span>senha</span> deve conter no minimo 6 digitos.</li>
                    <li style="margin-top: 5%;">A <span>senha</span> deve conter caracteres
                    especiais, números e letras</li>
                </ul>
            </div>
            

            <button class="botao-registrar">Registrar</button>
        </div>

    </div>

</body>

</html>