<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="popUpLoginStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="container-geral">
        <div class="fundo-popup-login">

            <div class="titulo">
                <p>LOGIN</p>
            </div>

            <div class="input-fundo-login">
                <input class="input-texto-login" type="email" placeholder="E-Mail*">
            </div>

            <div class="input-fundo-login">
                <input class="input-texto-login" style="width: 16.9vw;" type="password" placeholder="Senha*">
                <img class="olho" src="olhosfechados.png" alt="">
            </div>

            <div class="container-geral-checkbox">
                
                <div class="container-checkbox">
                    <input type="checkbox" class="checkbox">
                    <p class="texto-lembrar">Lembrar</p>
                    <div class="linha-vertical"></div>
                </div>

                <div class="container-links">
                    <a href="esqueciASenha.html">Esqueci minha senha</a>
                    <a href="registro.html">Registrar-se</a>
                </div>

            </div>
            <button class="botao-acessar">Acessar</button>
        </div>

    </div>

</body>

</html>