<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/popupDecisaoModeradoraStyle.css">
</head>

<body>
    <div id="blur">
        <div id="container">
            <div class="cxtexto cxmen">
                <p id="responsavel">Moderador Responsável: </p>
            </div>
            <div class="cxtexto cxmen">
                <p id="data">Data: </p>
            </div>

            <div class="cxtexto cxmai">
                <p id="motivacao">Motivação: </p>
            </div>
        </div>
    </div>
    <script src="/postagemOcultaLogica.js" defer></script>
</body>

</html>