<div id="divPopUpRegistro">
<div class="fundo-popup">
    <span class="botao-fechar">&times;</span>
    
    <div class="titulo">
        <p>REGISTRO</p>
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="email" id="inputEmailRegistro" placeholder="E-Mail*">
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="password" id="senhaInputRegistro" placeholder="Senha*">
        <img class="olho" src="olhosfechados.png" alt="">
    </div>

    <div class="input-fundo" style="margin-top: 0;">
        <input class="input-texto" type="password" id="confSenhaInputRegistro" placeholder="Confirmar senha*">
        <img class="olho" src="olhosfechados.png" alt="">
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="text" id="inputNomeRegistro" placeholder="Nome*">
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="text" id="inputCpfRegistro" placeholder="CPF*">
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="text" id="inputDataNascRegistro" placeholder="Data de nascimento*">
    </div>

    <div class="input-fundo">
        <input class="input-texto" type="text" id="inputTelefoneRegistro" placeholder="Telefone">
    </div>

    <div class="container-geral-checkbox">
        <input type="checkbox" class="checkbox">
        <p class="termos-de-uso">Aceitar termos de uso</p>
    </div>

    <div class="container-instrucoes">
        <ul class="instrucao-senha">
            <li>A <span>senha</span> deve conter no mínimo 6 dígitos.</li>
            <li style="margin-top: 5%;">A <span>senha</span> deve conter caracteres especiais, números e letras</li>
        </ul>
    </div>

    <button id = "registerButton">Registrar</button>

    </div>
<script src="telaLoginLogica.js" defer></script>

</div>

