<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/cabecalhoStyle.css">
    <link rel="stylesheet" href="/rodapeStyle.css">
    <link rel="stylesheet" href="/publicacaoStyle.css">
</head>

<body>
    <div id="header"></div>
    <div id="container_publicacao">
        <p id="titulo">x</p>
        <div id="containerImagem">
            <img src="" id="capaPostagem">
        </div>
        <div id="dados_publicacao"></div>
        <div id="textoPublicacao"></div>
        <p id="listaTags">
    </div>

    <div id="posPopUp">
        <div id="registro"></div>
    </div>

    <div id="posPopUpLogin">
        <div id="login"></div>
    </div>
    <div id="footer"></div>

</body>
<script src="/includeHtmlExterno.js" defer></script>
<script src="/includePopUpRegistro.js" defer></script>
<script src="/includePopUpLogin.js" defer></script>
<script src="/publicacaoLogica.js" defer></script>

</html>