<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observatório Kings de Direitos Humanos no Vale do Itajaí</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/publicacoesStyle.css">
    <link rel="stylesheet" href="/cabecalhoStyle.css">
    <link rel="stylesheet" href="/rodapeStyle.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <style>

    </style>

</head>

<body>

    <div class="container-moderador">

        <div class="botao-moderador"><img src="/mais.png" class="mais" alt="sinal de mais"></div>

    </div>

    <div class="container-geral">

        <div class="container-publicacoes">

            <div class="container-titulo">
                <p class="titulo-publicacao">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ipsum, enim quidem iusto
                    dolor repudiandae pariatur, incidunt, obcaecati in animi
                    minima quod nulla quae laborum possimus numquam harum.
                    Architecto, nisi nihil!.</p>
            </div>

            <div class="container-baixo">

                <div class="container-imagem">
                    <img class="imagem" src="./imagens/azul.png" alt>
                </div>

                <div class="container-descricao">
                    <p class="autor">Autor</p>
                    <p class="data">data de postagem</p>
                    <p class="paragrafo">Primeiro parágrafo do texto contido dentro da postagem, como forma de servir
                        como um resumo atrativo para o usuário.</p>
                </div>

            </div>

        </div>
    </div>
    <div class="container-linha">
        <hr>
    </div>
    <div class="container-geral">

        <div class="container-publicacoes">

            <div class="container-titulo">
                <p class="titulo-publicacao">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ipsum, enim quidem iusto
                    dolor repudiandae pariatur, incidunt, obcaecati in animi
                    minima quod nulla quae laborum possimus numquam harum.
                    Architecto, nisi nihil!.</p>
            </div>

            <div class="container-baixo">

                <div class="container-imagem">
                    <img class="imagem" src="./imagens/mais.png" alt="imagem da notícia">
                </div>

                <div class="container-descricao">
                    <p class="autor">Autor</p>
                    <p class="data">data de postagem</p>
                    <p class="paragrafo">Primeiro parágrafo do texto contido dentro da postagem, como forma de servir
                        como um resumo atrativo para o usuário.</p>
                </div>

            </div>

        </div>
    </div>

    <div class="container-seletores">
        <button class="bloquinhos">&lt;</button>
        <button class="bloquinhos">1</button>
        <button class="bloquinhos">atual</button>
        <input type="text" class="bloquinhos" style="cursor: text;background-color: white ;" placeholder="__">
        <button class="bloquinhos">99</button>
        <button class="bloquinhos">&gt;</button>
    </div>

    <div id="posPopUp">
        <div id="registro"></div>
    </div>

    <div id="posPopUpLogin">
        <div id="login"></div>
    </div>
    <div id="footer"></div>


</body>
<script src="/includeHtmlExterno.js" defer></script>
<script src="/includePopUpRegistro.js" defer></script>
<script src="/includePopUpLogin.js" defer></script>
<script src="/publicacoesLogica.js" defer></script>

</html>