<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="popup-requisitar-fundo">
        <div class="popup-requisitar-titulo">Requisitar Cargo</div>
        <textarea name="motivacaoRequisitar" id="textarea-cargos-requisitar" placeholder="Motivação:*"></textarea>
        <select name="Cargos" id="combobox-cargos-requisitar">
            <option selected disabled>Cargos:</option>
            <option>Moderador</option>
            <option>Especialista</option>
            <option>Administrador</option>
        </select>
        <p>Adicione uma forma de contato!</p>
        <input id="inputC" maxlength="128"> 
        <button class="botao-confirmar-requisicao" id="btnConfimarRequisicao">Requisitar</button>
    </div>

</body>

</html>