<div class="popup-requisitar-fundo">
        <div class="popup-requisitar-titulo">Requisitar Cargo</div>
        <textarea name="motivacaoRequisitar" id="textarea-cargos-requisitar" placeholder="Motivação:*"></textarea>
        <select name="Cargos" id="combobox-cargos-requisitar">
            <option selected disabled>Cargos:</option>
            <option>Moderador</option>
            <option>Especialista</option>
        </select>
        <p id="labelContato">Contato:</p>
        <input id="inputC" maxlength="128"> 
        <button class="botao-confirmar-requisicao" id="btnConfimarRequisicao">Requisitar</button>
    </div>