<div id="campoEdicao">
    <div id="elementosEdicao">
        <button id="bold">B</button>
        <button id="underlined">u</button>
        <button id="italic">I</button>
        <button id="link">
            <img src="/imagens/link.png">
        </button>
        <button id="font_increase">T</button>
        <button id="font_reduce">"</button>
        <button id="pic">
            <img src="/imagens/pic.png">
        </button>
    </div>
    <div id="textoPublicacao" contenteditable="true" title="Digite aqui o texto...">
        <span class="rt_default rt_geral">&#8203;</span>
    </div>
</div>