<footer>
  <div class="container">
    <div class="container-rodape-esquerda">

      <ul class="lista">

        <li><h3 style="color: #e6d2d2;">Redes do OKDHVI</h3></li>
        <li>
          <img class="twitter" src="/imagens/twitter.png" alt="logo twitter">
          <a class="lista" href="https://x.com/ObservatorioKings" target="_blank">@ObservatorioKings</a>
        </li>
        <li>
          <img class="insta" src="/imagens/insta.png" alt="logo insta">
          <a class="lista" href="https://www.instagram.com/ObservatorioKings" target="_blank">@ObservatorioKings</a>
        </li>
        <li>
          <img class="youtube" src="/imagens/youtube.png" alt="logo youtube">
          <a class="lista" href="https://www.youtube.com/watch?v=hvi3J3yBRXI" target="_blank">@ObservatorioKings</a>
        </li>
      </ul>
    </div>
    <div class="container-rodape-direita">
      <p>O Observatório Kings de Direitos Humanos é um site que busca conscientizar as pessoas dos direitos humanos. Promovendo a divulgação de pesquisas científicas, um espaço para fóruns feitos pelos próprios usuários, notícias envolvendo a promoção ou violação dos direitos humanos.</p>

    </div>
  </div>
</footer>
