<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="/cabecalhoStyle.css">
        <link rel="stylesheet" href="/rodapeStyle.css">
        <link rel="stylesheet" href="/publicacaoStyle.css">
        <link rel="stylesheet" href="/sobreStyle.css">

        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">

    </head>

    <body>
        <div id="header"></div>
        <div id="container_publicacao">
            <p id="titulo">Sobre Nós</p>
            <div id="richtexteditor" style="align-self: center;"></div>
            <div id="botoes">
            <button id="botaoCancelar">Cancelar</button>
            <button id="botaoPublicar">Publicar</button>
        </div>
        </div>

        

        <div id="posPopUp">
            <div id="registro"></div>
        </div>

        <div id="posPopUpLogin">
            <div id="login"></div>
        </div>
        <div id="footer"></div>

    </body>
    <script src="/includeHtmlExterno.js" defer></script>
    <script src="/sobreLogic.js" defer></script>

</html>