<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Não Encontrado!</title>
    <link rel="stylesheet" href="telaInexistente.css">
    <link rel="stylesheet" href="cabecalhoStyle.css">
    <link rel="stylesheet" href="rodapeStyle.css">
</head>
<body>
    <div id="header"></div>
    <div id="container">
        <p class="texto">???</p>
        <p class="texto">Você tentou acessar um conteúdo que não existe, foi removido ou ocultado pela moderação</p>
    </div>
    <div id="footer"></div>
  <div id="posPopUp">
    <div id="registro"></div>
    
</div>

<div id="posPopUpLogin">
<div id="login"></div>
</div>
    <script src="includeHtmlExterno.js" defer></script>
    <script src="includePopUpRegistro.js" defer></script>
    <script src="includePopUpLogin.js" defer></script>
</body>
</html>