<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="paginaInicialStyle.css">
    <link rel="stylesheet" href="cabecalhoStyle.css">
    <link rel="stylesheet" href="rodapeStyle.css">
</head>
<body>

<div id="header"></div>

<div class="container">
    <img class="logo" src="./imagens/logoObservatorio.png" alt="Logo">
</div>

<div class="container-noticias">
    <img class="botao-seta" style="transform: scaleX(-1);" src="./imagens/setaIcon.png" alt="Seta para esquerda">
    <div class="noticia-container">
        <img class="noticia" src="https://placehold.co/620x420" alt="Notícia">
        <p class="texto-noticia">Notícia é noticiada em tal lugar em tal hora e momento tal além de tudo tal coisa</p>
    </div>
    <div class="noticia-container">
        <img class="noticia" src="https://placehold.co/620x420" alt="Notícia">
        <p class="texto-noticia">Novos dados descobertos referente à tal coisa</p>
    </div>
    <img class="botao-seta" src="./imagens/setaIcon.png" alt="Seta para direita">
</div>


<div id="posPopUp">
    <div id="registro"></div>
    <div id="login"></div>
</div>

<div id="footer"></div> 

<script src="includeHtmlExterno.js" defer></script>
<script src="includePopUpRegistro.js" defer></script>

</body>
</html>