<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/apoioStyle.css">
    </head>

    <body>

        <div id="header"></div>

        <div id="container_apoio">
            <p id="titulo-tela-apoio">Acolhimento</p>
            <p id="instrucao-tela-apoio">Abaixo estão uma lista de entidades que
                estão comprometidas com a causa social de
                minorias raciais e LGBTQIAPN+ que manifestaram interesses em
                serem divulgadas aqui.</p>

            <div id="add-acolhimento"> <img src="./imagens/mais.png"
                    id="mais-acolhimento" alt></div>

            <div class="container-resto-tela-apoio">

                <div class="container-geral-instituicao-direita">

                    <div id="editar-acolhimento-direita"><img
                            src="/imagens/lapis-icon.png" id="lapis" alt></div>

                    <div class="info-instituicao-apoio"></div>

                    <div class="container-fotoEredes-tela-apoio">
                        <img src="/imagens/grupo.png"
                            id="foto-instituicao-tela-apoio" alt>

                        <ul>
                            <li>
                                <img src="/imagens/twitter.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>TwitterX</a>
                            </li>

                            <li>
                                <img src="/imagens/instaIcon.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>InstaX</a>
                            </li>

                            <li>
                                <img src="/imagens/whatsPreto.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>NumeroX</a>
                            </li>

                            <li>
                                <img src="/imagens/pin.jpg"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>EnderecoX</a>
                            </li>

                            <li>
                                <img src="/imagens/internet.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>SiteX</a>
                            </li>

                            <li>
                                <img src="/imagens/linkedin.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>LinkedinX</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="container-geral-instituicao-esquerda">

                    <div id="editar-acolhimento-esquerda"><img
                            src="/imagens/lapis-icon.png" id="lapis" alt></div>

                    <div class="container-fotoEredes-tela-apoio">
                        <img src="/imagens/grupo.png"
                            id="foto-instituicao-tela-apoio" alt>

                        <ul>
                            <li>
                                <img src="/imagens/twitter.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>TwitterX</a>
                            </li>

                            <li>
                                <img src="/imagens/instaIcon.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>InstaX</a>
                            </li>

                            <li>
                                <img src="/imagens/whatsPreto.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>NumeroX</a>
                            </li>

                            <li>
                                <img src="/imagens/pin.jpg"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>EnderecoX</a>
                            </li>

                            <li>
                                <img src="/imagens/internet.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>SiteX</a>
                            </li>

                            <li>
                                <img src="/imagens/linkedin.png"
                                    class="icone-lista-tela-apoio" alt>
                                <a href>LinkedinX</a>
                            </li>
                        </ul>
                    </div>

                    <div class="info-instituicao-apoio"></div>

                </div>
            </div>
        </div>
        <div id="posPopupNovoApoio">
            <div id="novoApoio"></div>
        </div>

        <div id="footer"></div>

        <div id="posPopUp">
            <div id="registro"></div>
        </div>

        <div id="posPopUpLogin">
            <div id="login"></div>
        </div>

    </body>

    <script src="/includeHtmlExterno.js" defer></script>
    <script src="/apoioLogic.js" defer></script>

</html>